@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap");

body {
	background-color: #faeee7;
	font-size: 16px;
	font-family: "Hanken Grotesk", sans-serif;
}

canvas {
	background-color: #fff5e4;
	border: 16px solid #c1a3a3;
	border-radius: 16px;
	box-sizing: border-box;
}

h1 {
	font-size: 3rem;
	font-weight: normal;
	font-family: "Abril Fatface", cursive;
	text-align: center;
}

.canvas-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
